In [1]:
import json
import pandas as pd
from src.comparator import compare_metadata
from src.datasets import load
from src.simple_information_extractor import SimpleInformationExtractor
import pprint

DATA_PATH = 'data/'
data_sets = load(DATA_PATH)

## Wydobycie danych oraz wygenetowanie tablicy różnic pomiędzy oryginalnymi danymi, a wydobytymi

In [2]:
diffs = []
for data_set in data_sets:
    information_extractor = SimpleInformationExtractor(data_set['content'])
    meta = information_extractor.extract()
    diffs.append(compare_metadata(data_set['meta'], meta))

## Przkształacanie danych na odpowiednie do wyśtwietlenia w tabeli

In [3]:
equals = {}
originals = {}
extracted = {}

# dla czytelnosci tylko dla jednego pliku
for key, value in diffs[8].items():
    equals[key] = value['equal']
    originals[key] = value['original']
    extracted[key] = value['extracted']
    
diff_for_table = {'equals': equals, 'original': originals, 'extracted': extracted}

dataframe = pd.DataFrame(data=diff_for_table)
dataframe.index.name = "quality"
display(dataframe)

                     equals                      original extracted
quality
bills                 False                           100      None
deposit               False                           800      None
district              False                        Krzyki      None
flatmatesCount        False                             2      None
flatmatesGenders      False                  [male, male]      None
flatmatesOccupation   False  [proffesional, proffesional]      None
internetSpeed          True                          None      None
preferredGender        True                          None      None
preferredOccupation    True                          None      None
rent                  False                           700      None
roomsCount            False                             3      None
street                False                     Burzowa 3      None
subject               False                          room      None